@model GoodModel
@{
    ViewData["Title"] = "GoodOpen";
}

<h2>GoodOpen</h2>

@Html.LabelFor(x => x.Creator):
@Html.DisplayTextFor(x => x.Creator)
<br>

@Html.LabelFor(x => x.Name):
@Html.DisplayTextFor(x => x.Name)
<br>

@Html.LabelFor(x => x.Price):
@Html.DisplayTextFor(x => x.Price)
<br>

